menu {
  display: flex;
  margin-block-start: 0;
  margin-block-end: 0;
  justify-content: space-between;
  align-items: center;
  background-color: #00acc1;
  color: white;
  padding: 0.8rem 1rem;
  border-bottom: 4px solid #007c91;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: "Segoe UI", sans-serif;
}

menu a,
menu a img {
  height: 2rem;
  transition: transform 0.3s ease;
}

menu a img:hover {
  transform: scale(1.1);
}

menu ul {
  display: flex;
  gap: 2rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

menu ul li {
  cursor: pointer;
  font-size: 0.7rem;
  transition: color 0.2s ease;
  position: relative;
}

menu ul li::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  left: 0;
  bottom: -4px;
  background-color: white;
  transition: width 0.3s ease;
}

menu ul li:hover::after {
  width: 100%;
}

menu ul li:hover {
  color: #e0f7fa;
}

@media (max-width: 768px) {
  menu {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 800px;
    padding: 4rem 1rem;
    gap: 4rem;
  }

  menu ul {
    flex-direction: column;
    width: 100%;
    margin-top: 1rem;
    gap: 1rem;
  }
  menu ul li {
    cursor: pointer;
    font-size: 0.7rem;
  }
  menu a img {
    width: 3rem;
    height: 3rem;
  }
}
