.visaListExpense {
  font-size: 1.4rem;
  color: #00acc1;
  background: linear-gradient(135deg, #8be2ed, #ffffff);
  border: 4px dashed #00acc1;
  border-radius: 1rem;
  padding: 1rem 1.5rem;
  width: 90%;
  max-width: 400px;
  margin: 1rem auto;
  box-shadow: 0 8px 20px rgba(0, 172, 193, 0.1);
  transition: transform 0.3s ease;
}

.visaListExpense:hover {
  transform: scale(1.02);
}
#left {
  animation: slideOut 0.6s ease-in-out;
}

@keyframes slideOut {
  0% {
    transform: translateX(-80%);
    opacity: 0;
  }
  60% {
    transform: translateX(10%);
    opacity: 0.8;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
#left,
#right {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  border: 2rem solid #fc6471;
  border-right: 2rem double #fc6471;
  border-radius: 20%;
  margin: 0 20%;
  padding: 1rem;
}
#right {
  animation: slideIn 0.6s ease-in-out;
}

@keyframes slideIn {
  0% {
    transform: translateX(80%);
    opacity: 0;
  }
  60% {
    transform: translateX(-10%);
    opacity: 0.8;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.container-page {
  max-width: 90%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.visaTitle {
  background-color: #fc6471;
  color: white;
  text-align: center;
  padding: 1rem;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 1px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.expense {
  border-bottom: #fc6471 dotted 0.1rem;
}

.total-expense {
  margin-top: 2rem;
  text-align: center;
  font-size: 1.4rem;
  font-weight: bold;
  color: #007c91;
  background-color: #e0f7fa;
  padding: 1rem;
  border-radius: 0.5rem;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 4px 10px #3a405a;
}

@media (prefers-color-scheme: dark) {
  .visaListExpense {
    color: white;
    background: linear-gradient(135deg, #8be2ed, #3a405a);
    border: 0 #8be2ed;
    /* box-shadow: 4px 4px 10px white; */
  }
}

@media (max-width: 768px) {
  #right,
  #left {
    margin: 2rem;
    padding: 1rem;
  }
  .visaListExpense {
    width: 60%;
    font-size: 0.8rem;
  }
  .total-expense {
    margin-top: 1rem;
    padding: 0.5rem;
    font-size: 1rem;
  }
  .visaTitle {
    padding: 0.5rem;
    font-size: 0.9rem;
  }
  .container-page {
    gap: 0.5rem;
  }
  @keyframes slideIn {
    0% {
      transform: translateX(10%);
      opacity: 0;
    }
    60% {
      transform: translateX(-5%);
      opacity: 0.8;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes slideOut {
    0% {
      transform: translateX(-10%);
      opacity: 0;
    }
    60% {
      transform: translateX(5%);
      opacity: 0.8;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
}
