
.visaListExpense {
  background: linear-gradient(135deg, #e0f7fa, #ffffff);
  border: 2px dashed #00acc1;
  border-radius: 1rem;
  padding: 1rem 1.5rem;
  width: 90%;
  max-width: 400px;
  margin: 1rem auto;
  box-shadow: 0 8px 20px rgba(0, 172, 193, 0.1);
  transition: transform 0.3s ease;
}

.visaListExpense:hover {
  transform: scale(1.02);
}
#left{
   display: flex;
  flex-wrap: wrap;
  justify-content: center;
  animation: slideOut 0.6s ease-in-out;
}

@keyframes slideOut {
  0% {
    transform: translateX(-80%);
    opacity: 0;
  }
  60% {
    transform: translateX(10%);
    opacity: 0.8;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
#right{
   display: flex;
  flex-wrap: wrap;
  justify-content: center;
  animation: slideIn 0.6s ease-in-out;
}

@keyframes slideIn {
  0% {
    transform: translateX(80%);
    opacity: 0;
  }
  60% {
    transform: translateX(-10%);
    opacity: 0.8;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.container-page{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}